/node_modules
/public/hot
/public/storage
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/bidnest_agreement
/public/adhaar_card
/public/pan_card
/public/gst_certificate
/public/company_reg_certificate
/public/inventory

