.canvas-con {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    min-height: 295px;
    position: relative;
    width: fit-content;
    margin-top: 36px;

}






#myzonechart {
    height: 100%;
    width: 100%;
    min-height: 150px;
  }
   
  .zc-ref {
    display: none;
  }
.total-user {
  position: absolute;
  font-size: 16px;
  margin-right: 47% !important;
  margin-top: 28% !important; 
}

.canvas-con-inner {
    height: 100%;
    // width: 11%;
}

.canvas-con-inner, .legend-con {
    display: inline-block;
    
}

.legend-con {
    font-family: Roboto;
    display: inline-block;

    ul {
        list-style: none;
        margin-bottom: 10px;
        font-family: 'Roboto';
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        justify-content: start;


       
div.legend-text{
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-top: 6px;

}
        span.chart-legend {
            width: 13px;
            height: 13px;
            margin-right: 10px;
            margin-left: -30px;
            border-radius: 15px;
            margin-top: 10px ;
        }

    .chart-legend-label-text{
            display: flex;
           justify-content: space-between;
            width: 10em !important;
            text-align: left;
            vertical-align: baseline;
            
        }
        .chart-legend-label-value{
            
          
            // width: 50em;
            // text-align: right;
            // display: flex;
            // text-align: right;

        }

        // span.chart-legend-label-value{
        //     margin-left: 20px !important;
        //     width: 50%;
        //     text-align: right;
            

        // }
    }
}
