.bd-svg{
    width: 18px;
    height: 18px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.notify{
   background-image: url("./assets/images/Notifications.svg");
     }
.gear{
     background-image: url("./assets/images/Icon\ material-settings.svg");

         }
.search{
    background-image: url("./assets/images/Search-blue.svg");
}
.date{
    background-image: url("./assets/images/date-icon.svg");
}
.dashboard{
    background-image: url("./assets/images/dashboard.svg");
}
.booking{
    background-image: url("./assets/images/Bookings.svg");
}
.shuttle-van{
    background-image: url("./assets/images/Icon\ awesome-shuttle-van.svg");
}
.users{
    background-image: url("./assets/images/Icon\ awesome-user-friends.svg");
}
.list{
    background-image: url("./assets/images/list-interface-symbol.svg");
}
.tag{
    background-image: url("./assets/images/tag.svg");
}
.location{
    background-image: url("./assets/images/location.svg");
}
.banner{
    background-image: url("./assets/images/prize-banner-.svg");
}
.document{
    background-image: url("./assets/images/Icon\ ionic-ios-document.svg");
}
.smile{
    background-image: url("./assets/images/Icon\ awesome-smile.svg");
}
.dollar{
    background-image: url("./assets/images/Icon\ material-attach-money.svg");
}
.user{
    background-image: url("./assets/images/users.svg");
}
.upload{
    width: 68px;
    height: 68px;
    background-image: url("./assets/images/upload-image.svg");
}
.upload-file{
    height: 68px;
    width: 68px;
    background-image: url("./assets/images/upload-ing.svg");
}
.filter-icon{
    background-image: url("./assets/images/filter.svg");
}
.backbtn{
    background-image: url("./assets/images/Backward.svg");
}
.forward{
    background-image: url("./assets/images/forward.svg");
}
.tickmark{
    background-image: url("./assets/images/greentick.svg");
}
.cross{
    background-image: url("./assets/images/cross.svg");
}