
.radio-item {
display: inline-block;
position: relative;
padding: 0 6px;
margin: 10px 0 0;
}

.radio-item input[type='radio'] {
display: none;
}

.radio-item label {
color: #666;
font-weight: normal;
}

.radio-item label:before {
content: " ";
display: inline-block;
position: relative;
top: 5px;
margin: 0 5px 0 0;
width: 25px;
height: 25px;
border-radius: 15px;
border: 2px solid #2E0789;
background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
border-radius: 11px;
width: 17px;
height: 17px;
position: absolute;
top: 9px;
left: 10px;
content: " ";
display: block;
background: #2E0789;
}
.blue-bg{
background: #460bcf !important;
color: #fff;
}
.border-cicle{

height: 200px;
padding: 41px;
padding-top: 57px;
border-radius: 50%;
font-weight: 600;

}

.border-white{
border: 8px solid #fff;
color:#fff  !important;
}
.border-black{
border:1px solid #3B4B58;
color: #3B4B58 i !important;
}

