.primary-table th {
  color: #3BA3FB;
  font-weight: 600;
  font-size: 14px;
  padding: 20px 0 !important;
}

.primary-table td {
  vertical-align: middle;
}

.table-left-align th {
  text-align: left;
  width: 16%;
}

.table-left-align td {
  text-align: left;
  padding-left: 0px !important;
  width: 16%;
}

.table-left-align th:first-child {
  padding-left: 20px !important;
}

.table-left-align td:first-child {
  padding-left: 20px !important;
}

.table-left-align th:last-child {
  padding-left: 20px !important;
}

.left-col-table th {
  text-align: left;
}

.left-col-table td {
  text-align: left;
  padding-left: 0px !important;
}

.left-col-table th:first-child {
  padding-left: 20px !important;
}

.left-col-table td:first-child {
  padding-left: 20px !important;
}

.table {
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

.table tr:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.table thead th {
  border-bottom: none;
}

.table thead tr:hover {
  box-shadow: none !important;
  border-bottom-color: transparent;
}
